@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
}

html {
  overscroll-behavior: none;
}

.box-bg {
  background: #000;
}

.box-bg-color {
  background: #cbe7ee;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.server-loading {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.server-loading p {
  color: #fff;
  max-width: 400px;
  text-align: center;
  margin-top: 35px;
  font-size: 15px;
}

.server-loading svg {
  color: #fff;
  font-size: 48px;
  transform: translateY(15px);
}
.loader {
  width: 42px;
  height: 42px;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #0284c7 transparent #fff transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: 1s rotate linear infinite;
}

.loader:before,
.loader:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  border: 9px solid transparent; /* 10 × 0.875 ≈ 9 */
  border-bottom-color: #fff;
  transform: translate(-9px, 17px) rotate(-35deg);
}

.loader:after {
  border-color: #0284c7 transparent transparent transparent;
  transform: translate(28px, 3px) rotate(-35deg);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
